body {
    left: 0;
    top: 0;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
}

.game {
    width: 711px;
    height: 390px;
    position: absolute;
    top:68px;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
}

.frame {
    width: 800px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto;
}

#unity-canvas {
    block-size: fit-content !important;
}